Q1. What is data encoding? How is it useful in data science?

Data encoding used to convert categorical data into numerical terms for applying algoritms for performing smooth models

Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

when we have categorical data where we do not have any order or rank, or sequence, we can't give them any orders or ranks. those features are called nominal features

for examples  : city of person live in , Gender of person, marital status, etc...

 Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

In [31]:
import pandas as pd

In [2]:
from sklearn.preprocessing import OneHotEncoder

In [42]:
df = pd.DataFrame({'color' : ['red', 'red' , 'yellow' , 'green', 'yellow']})

In [43]:
df

    color
0     red
1     red
2  yellow
3   green
4  yellow

In [44]:
encoder = OneHotEncoder()

In [45]:
encoded = encoder.fit_transform(df[['color']])

In [46]:
encoded_df = pd.DataFrame(encoded.toarray(), columns = encoder.get_feature_names_out())

In [47]:
encoded_df

   color_green  color_red  color_yellow
0          0.0        1.0           0.0
1          0.0        1.0           0.0
2          0.0        0.0           1.0
3          1.0        0.0           0.0
4          0.0        0.0           1.0

In [48]:
pd.concat([df, encoded_df], axis = 1)

    color  color_green  color_red  color_yellow
0     red          0.0        1.0           0.0
1     red          0.0        1.0           0.0
2  yellow          0.0        0.0           1.0
3   green          1.0        0.0           0.0
4  yellow          0.0        0.0           1.0

Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding
technique would you use to transform this data into a format suitable for machine learning algorithms?
Explain why you made this choice.


The choice of encoding technique for categorical data depends on the specific problem at hand, the nature of the categorical variables, and the machine learning algorithm to be used. In general, there are three commonly used encoding techniques for categorical data: Label Encoding, One-Hot Encoding, and Binary Encoding.

Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns
are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to
transform the categorical data, how many new columns would be created? Show your calculations.

For the first categorical column, we would create 4 new columns, one for each unique value. For the second categorical column, we would create 3 new columns, one for each unique value. Therefore, in total, we would create 4 + 3 = 7 new columns.