In [1]:
# create a python progream to sort the given list to tuples based on integer value using a lambda function.
l1 = [('sachin tendulkar',34357),('ricky ponting',27483),("jack kalis",25534), ("virat kholi", 24936)]

In [6]:
l1.sort(key = lambda x : x[1])
print(l1)

[('virat kholi', 24936), ('jack kalis', 25534), ('ricky ponting', 27483), ('sachin tendulkar', 34357)]

In [7]:
# write a python progrram to find the  squares of all the numbers in the given lost of integrs using lambda and map functions
l1 = [1,2,3,4,5,6,7,8,9,10]

In [8]:
list(map(lambda x : x*2,l1))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [9]:
#write a python program to convert the given list of integers ionto a tuple of strings , use map and lambda functions
s = [1,2,3,4,5,6,7,8,9,10]
#expected output:('1','2','3','4','5','6','7','8','9','10')

In [11]:
tuple(map(lambda x : str(x),s))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [12]:
#write a python program using reduce functuon to compute the product of a list containing numbers from 1 to 25.

In [14]:
l1 = list(range(1,26))
l1

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [20]:
from functools import reduce
reduce(lambda x,y : x*y , l1)

15511210043330985984000000

In [23]:
#write a program to filter the number in a given list that are divisible by 2 and 3 using the filter function.
l1 = [2,3,6,9,27,60,90,120,55,46]

In [24]:
list(filter(lambda x : x%2==0 & x%3==0 , l1))

[2, 6, 60, 90, 120, 46]

In [25]:
#write a program to find palindromes in the given kist of strings using lambda and filter function
l1 = ['python','php','aba','radar','level']

In [ ]:
list(filter(lambda x: x == x[::-1] , l6))